{% extends "base-plain.html" %}
{% load i18n %}
{% load project_tags %}
{% block title %} :: {% trans 'Login' %}{% endblock %}
{% block banner %}<div id="banner"><h2>{% trans 'Login' %}</h2></div>{% endblock %}
{% block content %}


<div id="box">
      <h1>{% project_name %}</h1>
      <div class="block" id="block-login">
        <h2>{% trans 'Login' %}</h2>
        <div class="content login">
        
          {% if form.errors %}
                    <div class="flash">
            <div class="message error">
              <p>{% trans 'The username or password is incorrect.' %}</p>
            </div>
          </div>
            {% endif %}

          <form action="." method="post" class="form login">{% csrf_token %}
            <div class="group wat-cf">
              <div class="left">
                <label class="label right">{% trans 'Username' %}</label>
              </div>
              <div class="right">
                {#<input type="text" class="text_field" />#}
				{{ form.username }}                
              </div>
            </div>
            <div class="group wat-cf">
              <div class="left">
                <label class="label right">{% trans 'Password' %}</label>
              </div>
              <div class="right">
                {#<input type="password" class="text_field" />#}
				{{ form.password }}                
              </div>
            </div>
            <input type="hidden" name="next" value="{{ next|escape }}" />
            <div class="group navform wat-cf">
              <div class="right">
                <button class="button" type="submit">
                  <img src="{{ MEDIA_URL }}skins/pilu-web-app/images/icons/key.png" alt="Save" /> Login
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
</div>

{% endblock %}
