{% extends "base.html" %}
{% load i18n %}
{% load styling %}
{% block title %} :: {% trans 'Password change' %}{% endblock %}
{% block content %}

{% add_classes_to_form form %}
     
<div id="box">
      <div class="block">
        <h2>{% trans 'Password change' %}</h2>
        <div class="content login">
        
          {% if form.errors %}
          <div class="flash">
            <div class="message error">
                <p>{% trans 'There has been an error, please verify your entries and try again.' %}</p>
	         </div>
          </div>
            {% endif %}

          <form action="." method="post" class="form login">{% csrf_token %}
            <div class="group wat-cf">
                <div class="group">
                    <label class="label left">{% trans 'Previous password' %}</label>
                    {{ form.old_password }}                
                </div>
                <div class="group">
                    <label class="label left">{% trans 'New password' %}</label>
                    {{ form.new_password1 }}                
                </div>
                <div class="group">
                    <label class="label left">{% trans 'Confirm the new password' %}</label>
                    {{ form.new_password2 }}                
                </div>                

            <input type="hidden" name="next" value="{{ next|escape }}" />
            <div class="group navform wat-cf">
                <button class="button" type="submit">
                  <img src="{{ MEDIA_URL }}skins/pilu-web-app/images/icons/tick.png" alt="Submit" /> Submit
                </button>
            </div>
          </form>
      </div>
</div>

{% endblock %}
