{% extends "base.html" %}
{% load i18n %}
{% block title %} :: {% trans 'Password change' %}{% endblock %}
{% block banner %}<div id="banner"><h2>{% trans 'Password change' %}</h2></div>{% endblock %}
{% block content %}
	{% if form.errors %}
		<p class="error-message">{% trans 'The has been an error, please verify your entries and try again.' %}</p>
	{% endif %}
	<div class='data-entry'>
		<form action="" method='post'>{% csrf_token %}
			<table>
				<thead><tr><td colspan=2>{% trans 'Enter you information.' %}</td></tr></thead>
				<tfoot><tr><td colspan=2>
					<input type="submit" value="{% trans 'Submit' %}" />
					</td></tr>
				</tfoot>
				<tbody>
					<tr>
						<th>
							<label for="id_old_password">{% trans 'Previous password' %}:</label>
						</th>
						<td>
							{{ form.old_password }}
						</td>
					</tr>
					<tr>
						<th>
							<label for="id_new_password1">{% trans 'New password' %}:</label>
						</th>
						<td>
							{{ form.new_password1 }}
						</td>
					</tr>
					<tr>
						<th>
							<label for="id_new_password2">{% trans 'Confirm the new password' %}:</label>
						</th>
						<td>
							{{ form.new_password2 }}
						</td>
					</tr>
				</tbody>                       
			</table>
		</form>
	</div>
{% endblock %}
