{% extends "base.html" %}
{% load i18n %}
{% block title %} :: {% trans 'Cambio de contraseña' %}{% endblock %}
{% block banner %}<div id="banner"><h2>{% trans 'Cambio de contraseña' %}</h2></div>{% endblock %}
{% block content %}
	{% if form.errors %}
		<p class="error-message">{% trans 'Hubo un error, verifique y trate de nuevo.' %}</p>
	{% endif %}
	<div class='data-entry'>
		<form action="" method='post'>
			<table>
				<thead><tr><td colspan=2>{% trans 'Entre sus datos de forma correcta.' %}</td></tr></thead>
				<tfoot><tr><td colspan=2>
					<input type="submit" value="{% trans 'Cambiar' %}" />
					</td></tr>
				</tfoot>
				<tbody>
					<tr>
						<th>
							<label for="id_old_password">{% trans 'Contraseña anterior' %}:</label>
						</th>
						<td>
							{{ form.old_password }}
						</td>
					</tr>
					<tr>
						<th>
							<label for="id_new_password1">{% trans 'Nueva contraseña' %}:</label>
						</th>
						<td>
							{{ form.new_password1 }}
						</td>
					</tr>
					<tr>
						<th>
							<label for="id_new_password2">{% trans 'Confirme la contraseña nueva' %}:</label>
						</th>
						<td>
							{{ form.new_password2 }}
						</td>
					</tr>
				</tbody>                       
			</table>
		</form>
	</div>
{% endblock %}
