{% extends 'base.html' %}
{% load i18n %}
{% block title %} :: {% trans 'Confirmar' %} {{ title }} {{ object }}{% endblock %}
{% block banner %}<div id="banner"><h2>{% trans 'Confirmar' %}</h2></div>{% endblock %}
{% block content %}

<h3>{% trans 'Esta seguro que desea' %} {{ title }} {% if object %}<a href="{{ object.get_absolute_url }}">{{ object }}</a>{% endif %}?</h3>
<center><h4>{{ message }}</h4></center>
<form method="post" action=".">
<div style="text-align: center;"><input type="submit" value="{% trans 'Si' %}" /></div>
</form>
{% endblock %}
