{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="block">
          <h3>{% trans "Statistics" %}</h3>
          <div class="content">
            <p>
                {% trans "Users" %}: {{ person.count }}<br />
                {% trans "Items" %}: {{ item.count }}<br />
                {% trans "Retired items" %}: {{ retired.count }}<br />
                {% trans "Templates" %}: {{ template.count }}<br />
            </p>
          </div>
        </div>

{% endblock %}
