{% extends "base.html" %}
{% load i18n %}
{% block title %} :: {{ inventory }}{% endblock %}
{% block banner %}<div id="banner"><h2> {{ inventory }}</h2></div>{% endblock %}
{% block content %}


<div class="data-entry">
	<table>
		   <thead>
				<tr>
					<td colspan=10>
						{% trans 'Entre la información' %}
					</td>
				</tr>
			</thead>
			<tbody>
				{% for supply, qty in supply_qty.items %}
				<tr><th>{{ supply }}: </th><td>{{ qty }}</td></tr>
				{% endfor %} 
			</tbody>
	</table>
</form>
</div>

{% endblock %}
