{% extends "base.html" %}
{% load i18n %}
{% block keywords %}
{% endblock %}
{% block title %} :: {% trans 'Details for' %} {{ title }} {{ object }}{% endblock %}
{% load generic_views_helpers %}
{% load inventory_tags %}


{% block banner %}<div id="banner"><h2>{% trans 'Details for' %} {{ title }}</h2></div>{% endblock %}
{% block content %}
<h2>{% trans 'Asset' %}: {{ subtitle }}</h2>

<h3>
<ul>
{% for attrib, value in extra_attribs.items %}
	<li>{{ attrib }}: {{ value }}</li>
{% endfor %}
</ul>
</h3>

{% include 'item_subtemplate.html' %}

{% with item_photos_title as title %}
    {% include 'generic_photos_subtemplate.html' %}
{% endwith %}


{% include 'state_subtemplate.html' %}


{% with 'item_create' as create_view %}
    {% include "generic_navigation.html" %}
{% endwith %}

{% endblock %}
