{% extends "base.html" %}
{% load i18n %}
{% block keywords %}
{% endblock %}
{% block title %} :: {% trans 'Details for' %} {{ title }} {{ object }}{% endblock %}
{% load generic_views_helpers %}


{% block banner %}<div id="banner"><h2>{% trans 'Details for' %} {{ title }}</h2></div>{% endblock %}
{% block content %}
<h2>{{ subtitle }}</h2>

<h3>
<ul>
{% for attrib, value in extra_attribs.items %}
	<li>{{ attrib }}: {{ value }}</li>
{% endfor %}
</ul>
</h3>

{% include 'item_subtemplate.html' %}

{% with item_photos_title as title %}
    {% include 'generic_photos_subtemplate.html' %}
{% endwith %}

{% include 'state_subtemplate.html' %}
{% comment %}
<br />

{% with template as object %}
    {% include "template_subtemplate.html" %}
{% endwith %}

{% with template_photos_title as title %}
{% with template as object %}
    {% include 'generic_photos_subtemplate.html' %}
{% endwith %}
{% endwith %}
{% endcomment %}

<br />
{#{% if item_create %}#}
<a href="{% url item_create %}">{% trans 'Create new' %}</a> | 
{#{% endif %}#}
{% include "generic_navigation.html" %}
{% endblock %}
