{% load i18n %}
<center>
<div class="data-entry" >
	<table>
		<thead>
			<tr>
				<td colspan='2'>
					{% trans 'Item specific data' %}
				</td>
			</tr>
		</thead>	
		<tbody>
			<tr>
				<th>{% trans 'Asset number' %}:</th><td>{{ object.property_number }}</td>
			</tr>
			<tr>
				<th>{% trans 'Notes' %}:</th><td>{{ object.notes }}</td>
			</tr>
			<tr>
				<th>{% trans 'Serial number' %}:</th><td>{{ object.serial_number }}</td>
			</tr>
			<tr>
				<th>{% trans 'Regional' %}:</th><td>{{ object.regional_office }}</td>
			</tr>
			<tr>
				<th>{% trans 'Department/section/area' %}:</th><td>{{ object.department }}</td>
			</tr>
			<tr>
				<th>{% trans 'Assigned to' %}:</th><td><ul>{% for i in object.get_owners %}<li><a href="{{ i.get_absolute_url}}">{{ i }}</a></li>{% endfor %}</ul></td>
			</tr>
		</tbody>
	</table>
</div>
</center>
