{% extends "base.html" %}
{% load i18n %}
{% load generic_views_helpers %}
{% block title %} :: {% trans 'User details' %} {{ object }}{% endblock %}
{% block content %}

<h2>{{ object }}</h2>

<div class="inner">
  <form action="" method="post" class="form">{% csrf_token %}

            <div class="group">
              <label class="label">{% trans 'Last name' %}</label>
                <input type="text" value="{{ object.last_name }}" class="text_field" />
            </div>

            <div class="group">
              <label class="label">{% trans 'Second last name' %}</label>
                <input type="text" value="{{ object.last_name2 }}" class="text_field" />
            </div>

            <div class="group">
              <label class="label">{% trans 'First name' %}</label>
                <input type="text" value="{{ object.first_name }}" class="text_field" />
            </div>

            <div class="group">
              <label class="label">{% trans 'Second name or initial' %}</label>
                <input type="text" value="{{ object.second_name }}" class="text_field" />
            </div>
            
            <div class="group">
              <label class="label">{% trans 'Location' %}</label>
                <input type="text" value="{{ object.location }}" class="text_field" />
            </div>
            
            <div class="group">
              <label class="label">{% trans 'Assigned assets' %}</label>
                <ul>
                    {% for i in object.inventory.all %}
                        <li><a href="{{ i.get_absolute_url}}">{{ i }}</a></li>
                    {% empty %}
                        <li>{% trans 'None' %}</li>
                    {% endfor %}
                </ul>
            </div>


    <div class="group navform wat-cf">
    </div>
  </form>
</div>
{% with photos_title as title %}
    {% include 'generic_photos_subtemplate.html' %}
{% endwith %}


{#{% if not "person_create"|login_required or user.is_authenticated %}#}
<a href="{% url person_create %}">{% trans 'Create another user' %}</a> | 
{#{% endif %}#}
{% include "generic_navigation.html" %}
{% endblock %}
