{% extends "base.html" %}
{% load i18n %}
{% block keywords %}
{% endblock %}
{% load generic_views_helpers %}
{% block title %} :: {% trans 'User details' %} {{ object }}{% endblock %}
{% load generic_views_helpers %}

{% block banner %}<div id="banner"><h2>{% trans 'User details' %}</h2></div>{% endblock %}
{% block content %}

<h3>{{ object }}</h3>
<center>
<div class="data-entry" >
	<table>
		<thead>
			<tr>
				<td colspan='2'>
					{% trans 'Data' %}
				</td>
			</tr>
		</thead>	
		<tbody>
			<tr>
				<th>{% trans 'Last name' %}:</th><td>{{ object.last_name }}</td>
			</tr><tr>
				<th>{% trans 'Second last name' %}:</th><td>{{ object.second_last_name }}</td>
			</tr><tr>
				<th>{% trans 'Name' %}:</th><td>{{ object.first_name }}</td>
			</tr><tr>
				<th>{% trans 'Second name or initial' %}:</th><td>{{ object.second_name }}</td>
			</tr><tr>
				<th>{% trans 'Location' %}:</th><td>{{ object.location }}</td>
			</tr><tr>
				<th>{% trans 'Assigned items' %}:</th><td>
					<ul>
						{% for item in object.inventory.all %}
							<li><a href="{{ item.get_absolute_url }}">{{ item }}</a></li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</center>

{% with photos_title as title %}
    {% include 'generic_photos_subtemplate.html' %}
{% endwith %}

<br />

<div class='userbar'>
	<div style='font-size:100%;'>
		<ul>
			{#{% if not "person_create"|login_required or user.is_authenticated %}#}
			<li><a href="{% url person_create %}">{% trans 'Create another user' %}<img src="{{ MEDIA_URL }}images/contact-new.png" /></a></li>
			{#{% endif %}#}
			{% include "generic_navigation.html" %}
		</ul>
	</div>
</div>	
{% endblock %}
