{% load i18n %}
<center>
<div class="data-entry" >
	<table>
		<thead>
			<tr>
				<td colspan='2'>
					{% trans 'Data' %}
				</td>
			</tr>
		</thead>	
		<tbody>
			<tr>
				<th>{% trans 'Description' %}:</th><td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
			</tr><tr>
				<th>{% trans 'Brand' %}:</th><td>{{ object.brand }}</td>
			</tr><tr>
				<th>{% trans 'Model' %}:</th><td>{{ object.model }}</td>
			</tr><tr>
				<th>{% trans 'Part number' %}:</th><td>{{ object.part_number }}</td>
			</tr><tr>
				<th>{% trans 'Notes/observations' %}:</th><td>{{ object.notes }}</td>
			</tr>
		</tbody>
	</table>
</div>
</center>
