{% load i18n %}
<center>
<div class="data-entry" >
	<table>
		<thead>
			<tr>
				<td colspan='2'>
					{% trans 'Item template data' %}
				</td>
			</tr>
		</thead>	
		<tbody>
			<tr>
				<th>{% trans 'Description' %}:</th><td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
			</tr><tr>
				<th>{% trans 'Brand' %}:</th><td>{{ object.brand }}</td>
			</tr><tr>
				<th>{% trans 'Model' %}:</th><td>{{ object.model }}</td>
			</tr><tr>
				<th>{% trans 'Part number' %}:</th><td>{{ object.part_number }}</td>
			</tr><tr>
				<th>{% trans 'Notes/observations' %}:</th><td>{{ object.notes }}</td>
			</tr>
			<tr>
				<th>{% trans 'Related supplies' %}:</th><td><ul>{% for i in object.supplies.all %}<li><a href="{{ i.get_absolute_url}}">{{ i }}</a></li>{% endfor %}</ul></td>
			</tr>
		</tbody>
	</table>
</div>
</center>
