{% load i18n %}
<h3>{% trans 'Item template data' %}</h3>

<div class="inner">
  <form action="" method="post" class="form">{% csrf_token %}

            <div class="group">
              <label class="label">{% trans 'Description' %}</label>
                <input type="text" value="{{ object.description }}" class="text_field" />
            </div>

            <div class="group">
              <label class="label">{% trans 'Brand' %}</label>
                <input type="text" value="{{ object.brand }}" class="text_field" />
            </div>

            <div class="group">
              <label class="label">{% trans 'Model' %}</label>
                <input type="text" value="{{ object.model }}" class="text_field" />
            </div>

            <div class="group">
              <label class="label">{% trans 'Part number' %}</label>
                <input type="text" value="{{ object.part_number }}" class="text_field" />
            </div>
            
            <div class="group">
              <label class="label">{% trans 'Notes' %}</label>
              <textarea class="text_area" rows="10" cols="80">{{ object.notes }}</textarea>
            </div>
            
            <div class="group">
              <label class="label">{% trans 'Related supplies' %}</label>
                <ul>
                    {% for i in object.supplies.all %}
                        <li><a href="{{ i.get_absolute_url}}">{{ i }}</a></li>
                    {% empty %}
                        <li>{% trans 'None' %}</li>
                    {% endfor %}
                </ul>
            </div>


    <div class="group navform wat-cf">
    </div>
  </form>
</div>
