{% load i18n %}
{% if title %}
    {{ title|capfirst }}
{% else %}
    {% if read_only %}
        {% if object_name %}
            {% blocktrans %}Details for {{ object_name }}: {{ object }}{% endblocktrans %}
        {% else %}
            {% blocktrans %}Details for: {{ object }}{% endblocktrans %}
        {% endif %}
    {% else %}
        {% if object %}
            {% if object_name %}
                {% blocktrans %}Edit {{ object_name }}:{% endblocktrans %} <a href="{{ object.get_absolute_url }}">{{ object|capfirst }}</a>
            {% else %}
                {% trans "Edit" %}: <a href="{{ object.get_absolute_url }}">{{ object|capfirst }}</a>
            {% endif %}
        {% else %}
            {% if object_name %}
                {% blocktrans %}Create new {{ object_name }}{% endblocktrans %}
            {% else %}
                {% trans "Create" %}
            {% endif %}
        {% endif %}                
    {% endif %}
{% endif %}
