{% load i18n %}
  <h3>{% trans 'List Filter' %}</h3>
   <div class="content">
    <form action="" method="get" class="form">
        {% with filter_form as form %}
            {% include "generic_form_instance.html" %}
        {% endwith %}
        <div class="group navform wat-cf">
            <button class="button" type="submit">
                <img src="{{ MEDIA_URL }}skins/pilu-web-app/images/icons/tick.png" alt="{% trans 'Submit' %}" /> {% trans 'Submit' %}
            </button>
        </div>
    </form>
    </div>


