{% extends "base.html" %}
{% load i18n %}
{% load styling %}
{% load generic_views_helpers %}
{% block title %} :: {% blocktrans %}Details for {{ title }} {{ object }}{% endblocktrans %}{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(function() {
	$("#subform form :input").each(function() {
		this.disabled = true;
	});
});
</script>
{% endblock %}
{% block sidebar %}
    {% include 'sidebar_navigation.html' %}

    {% for subtemplate in subtemplates %}
        {% include subtemplate %}
    {% endfor %}
{% endblock %}


{% block content %}
    <style type="text/css">
        #subform form  textarea, 
        #subform form  select option,
        #subform form  input, 
        #subform form  select, 
        #subform form  input { background: none; color: black; border: none; }
    </style>


    <div id="subform">
        {% with 'true' as read_only %}
            {% include "generic_form_subtemplate.html" %}
        {% endwith %}
    </div>

{% endblock %}
