{% load i18n %}
<h2 class="title">
{% include 'calculate_form_title.html' %}
</h2>
<div class="inner">
    {% if form.is_multipart %}
        <form enctype="multipart/form-data" method="{{ submit_method|default:'post' }}" action="" class="form">
    {% else %}
        <form method="{{ submit_method|default:'post' }}" action="" class="form">
    {% endif %}
        {% csrf_token %}
        {% if hidden_fields %}
            {% for name, value in hidden_fields.items %}
                <input name='{{ name }}' type='hidden' value='{{ value }}' />
            {% endfor %}
        {% endif %} 
        
        {% if formset %}
            {% for form in formset.forms %}
                {% include "generic_form_instance.html" %}
            {% endfor %}
        {% else %}
            {% include "generic_form_instance.html" %}
        {% endif %}
    
        {% if not read_only %}
        <div class="group navform wat-cf">
            <button class="button" type="submit">
                <img src="{{ MEDIA_URL }}skins/pilu-web-app/images/icons/tick.png" alt="{% trans 'Save' %}" /> {% trans 'Save' %}
            </button>
            {% comment %}
            <a href="#header" class="button">
                <img src="{{ MEDIA_URL }}skins/pilu-web-app/images/icons/cross.png" alt="{% trans 'Cancel' %}"/> {% trans 'Cancel' %}
            </a>
            {% endcomment %}
        </div>
        {% endif %}
    </form>
</div>
    
