{% extends "base.html" %}
{% load i18n %}
{% block title %} :: {% if object %}{% trans 'Edit' %}{% else %}{% trans 'Create' %}{% endif %} {{ title }} {{ object }}{% endblock %}
{% block banner %}<div id="banner"><h2>{% if object %}{% trans 'Edit' %}{% else %}{% trans 'Create' %}{% endif %} {{ title }}</h2></div>{% endblock %}
{% block content %}

{% if object %}
<h3><a href="{{ object.get_absolute_url }}">{{ object }}</a></h3>
{% endif %}

<div class="data-entry">
<form method="post" action="">{% csrf_token %}
	<table>
                <thead>
                        <tr>
                                <td colspan=10>
                                        {% trans 'Data entry' %}
                                </td>
                        </tr>
                </thead>
                <tfoot>
                        <tr>
                                <td colspan=2>
                                        <input type="submit" value="{% trans 'Submit' %}" />
                                </td>
                        </tr>
                </tfoot>
                <tbody>
					{% for field in form %}
					<tr><th>{{ field.label_tag }}: </th><td>{{ field.errors }}{{ field }}{% if field.field.required %} ({% trans 'required' %}){% endif %}{% if field.help_text %}<br />{{ field.help_text }}{% endif %}</td></tr>
					{% endfor %} 

					{{ form.media|safe }}
                </tbody>
        </table>
</form>
</div>

{% endblock %}
