{% extends "base.html" %}
{% load i18n %}
{% load styling %}
{% load generic_views_helpers %}
{% block title %} :: {% blocktrans %}Details for {{ title }} {{ object }}{% endblocktrans %}{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(function() {
	$("form :input").each(function() {
		this.disabled = true;
	});
});
</script>
{% endblock %}
{% block content %}

<style type="text/css">
	form textarea:focus, form input:focus, form select, form textarea, form input { background: none; color: black; border: none; }
</style>

    {% add_classes_to_form form %}
    {{ form.media|safe }}              
    <h2 class="title">
        {% if object %}
            <a href="{{ object.get_absolute_url }}">{{ object }}</a>
        {% else %}
            {% trans 'Create' %}
        {% endif %}                
    </h2>
    <div class="inner">
        <form action="" method="post" class="form">{% csrf_token %}
            {% for field in form %}
                <div class="group">
                    <label class="label">{{ field.label_tag }}</label>
                    {{ field }}
                    {% if field.help_text %}<span class="description">{{ field.help_text }}</span>{% endif %}
                </div>
            {% endfor %} 
        </form>
    </div>
    
            
{% include "generic_navigation.html" %}

{% endblock %}
