{% load i18n %}
{% load generic_views_helpers %}
{% load pagination_tags %}
{% load navigation %}

{% autopaginate object_list 10 %} 
<h2 class="title">
    {% ifnotequal page_obj.paginator.num_pages 1 %}
        {% blocktrans with page_obj.start_index as start and page_obj.end_index as end and page_obj.paginator.object_list|length as total %}List of {{ title }} ({{ start }} - {{ end }} out of {{ total }}){% endblocktrans %}
    {% else %}
        {% blocktrans with page_obj.paginator.object_list|length as total %}List of {{ title }} ({{ total }}){% endblocktrans %}
    {% endifnotequal %}
</h2>

<div class="inner">
  <form action="#" class="form">
    <table class="table">
    <tbody>
      <tr>
        <th>{% trans 'Identifier' %}</th>
        {% for column in extra_columns %}
            <th>{{ column.name|capfirst }}</th>
        {% endfor %}        
        {% if not hide_links %}
            <th class="">&nbsp;</th>
        {% endif %}
      </tr>
        {% for object in object_list %}
            <tr class="{% cycle 'odd' 'even2' %}">
                {% if main_object %}
                    {% with object|object_property:main_object as object %}
                        <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                    {% endwith %}
                {% else %}
                    <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                {% endif %}
                {% for column in extra_columns %}
                    <td>{{ object|object_property:column.attribute }}</td>
                {% endfor %}

                    {% if not hide_links %}
                        <td class='last'>
                            {% object_navigation_template %}
                        </td>
                    {% endif %}
            </tr>
        {% empty %}
        <tr><td colspan=2 class="tc">{% blocktrans %}There are no {{ title }}{% endblocktrans %}</td></tr>
        {% endfor %}
        </tbody>
    </table>
    {% paginate %}          
  </form>
</div>
