{% extends "base.html" %}
{% load i18n %}
{% block keywords %}
{% endblock %}
{% block title %} :: {% blocktrans %}Assign {{ title }} {{ object }}{% endblocktrans %}{% endblock %}
{% block banner %}<div id="banner"><h2>{% blocktrans %}Assign {{ title }}{% endblocktrans %}</h2></div>{% endblock %}
{% block content %}
<style>
#id_right_list,#id_left_list { min-width: 28em; min-height: 13em; }

</style>
<h3>{% trans 'Assign' %} {{ title }} <a href="{{ object.get_absolute_url }}">{{ object }}</a></h3><br />

{% if filter_form %}
{% include "filter_form_subtemplate.html" %}	
{% endif %}

<form method='POST' action='' id='assign_remove'>{% csrf_token %}
<input name='action' value='' type='hidden' />
<center>
<div class="data-entry" >
	<table>
		<thead>
			<tr>
				<td colspan='4'>
					{% trans 'Data' %}
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
			<th style='text-align:center;'>{{ left_list_title }}</th><td></td><th style='text-align:center;'>{{ right_list_title }}</th>
			
			</tr>
			<tr>
				<td>{{ form.left_list }}{{ form.left_list.errors }}</td>
				<td>
					<table>
						<tbody>
							<tr>
								<td><input type='button' onclick='document.forms["assign_remove"].action.value="assign";document.forms["assign_remove"].submit();' value=">" /><br />
							</tr>
							<tr>
								<td><input type='button' onclick='document.forms["assign_remove"].action.value="remove";document.forms["assign_remove"].submit();' value="<" /><br />
							</tr>
							</tbody>					
					</table>
				</td>
				<td>{{ form.right_list }}{{ form.right_list.errors }}</td>
			</tr>
			{{ form.media|safe }}			
		</tbody>
	</table>
</div>
</center>
</form>

{% endblock %}
