{% load i18n %}
       
{% if side_bar %}
    <div class="block">
    <h3>
{% else %}
    <div class="content">    
    <h2 class="title">
{% endif %}
        
{% include "calculate_form_title.html" %}

{% if side_bar %}
    </h3>
    <div class="content">
        <p>
{% else %}
    </h2>
    <div class="inner">
{% endif %}
    
    {% if form.is_multipart %}
        <form enctype="multipart/form-data" method="{{ submit_method|default:'post' }}" action="" class="form">
    {% else %}
        <form method="{{ submit_method|default:'post' }}" action="" class="form">
    {% endif %}
        {% if submit_method != 'GET' and submit_method != 'get' %}
            {% csrf_token %}
        {% endif %}
        {% if hidden_fields %}
            {% for name, value in hidden_fields.items %}
                <input name='{{ name }}' type='hidden' value='{{ value }}' />
            {% endfor %}
        {% endif %} 
        
        {% if formset %}

<div id="wrapper" class="wat-cf">
{% for field in formset.forms.0 %}
    <div class="group" style="float: left;">
        {#{% if field.errors %}<div class="fieldWithErrors">{% endif %}#}
        <label class="label">{{ field.label_tag }}{% if field.field.required and not read_only %} ({% trans 'required' %}){% endif %}</label>
        {#{% if field.errors %}<span class="error">{% for error in field.errors %}{{ error }}{% if not forloop.last %} | {% endif %}{% endfor %}</span></div>{% endif %} #}
        {#<div>{{ field }}</div>#}
        {% if field.help_text %}<span class="description">{{ field.help_text }}</span>{% endif %}
    </div>
{% endfor %} 
</div>        
            {% for form in formset.forms %}
                {% include "generic_form_instance.html" %}
            {% endfor %}
            {{ formset.management_form }}
        {% else %}
            {% include "generic_form_instance.html" %}
        {% endif %}
    
        {% if not read_only %}
        <div class="group navform wat-cf">
            <button class="button" type="submit">
                <img src="{{ MEDIA_URL }}web_theme_media/images/icons/tick.png" alt="{% if object %}{% trans 'Save' %}{% else %}{% trans 'Submit' %}{% endif %}" /> {% if object %}{% trans 'Save' %}{% else %}{% trans 'Submit' %}{% endif %}
            </button>
            {% comment %}
            <a href="#header" class="button">
                <img src="{{ MEDIA_URL }}web_theme_media/images/icons/cross.png" alt="{% trans 'Cancel' %}"/> {% trans 'Cancel' %}
            </a>
            {% endcomment %}
        </div>
        {% endif %}
    </form>
    {% if sidebar %}
        </p></div></div>
    {% else %}
        </div></div>
    {% endif %}

    
