{% extends "base.html" %}
{% load i18n %}
{% load styling %}
{% block title %} :: {% if object %}{% trans 'Edit' %}{% else %}{% trans 'Create' %}{% endif %} {{ title }} {{ object }}{% endblock %}
{% block content %}
    {% add_classes_to_form form %}
    {{ form.media|safe }}              
    <h2 class="title">
        {% if object %}
            <a href="{{ object.get_absolute_url }}">{{ object }}</a>
        {% else %}
            {% trans 'Create' %}
        {% endif %}                
    </h2>
    <div class="inner">
        <form action="" method="post" class="form">{% csrf_token %}
            {% for field in form %}
                <div class="group">
                    {% if field.errors %}<div class="fieldWithErrors">{% endif %}
                    <label class="label">{{ field.label_tag }}{% if field.field.required %} ({% trans 'required' %}){% endif %}</label>
                    <span class="error">{{ field.errors }}</span>
                    {% if field.errors %}</div>{% endif %} 
                    {{ field }}
                    {% if field.help_text %}<span class="description">{{ field.help_text }}</span>{% endif %}
                </div>
            {% endfor %} 
            <div class="group navform wat-cf">
                <button class="button" type="submit">
                    <img src="{{ MEDIA_URL }}skins/pilu-web-app/images/icons/tick.png" alt="{% trans 'Save' %}" /> {% trans 'Save' %}
                </button>
                {% comment %}
                <a href="#header" class="button">
                    <img src="{{ MEDIA_URL }}skins/pilu-web-app/images/icons/cross.png" alt="{% trans 'Cancel' %}"/> {% trans 'Cancel' %}
                </a>
                {% endcomment %}
            </div>
        </form>
    </div>
{% endblock %}
