{% extends "base.html" %}
{% load i18n %}
{% block keywords %}
{% endblock %}
{% block title %} :: {% trans 'Detalle para' %} {{ title }} {{ object }}{% endblock %}
{% load generic_views_helpers %}
{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}packages/jquery-lightbox-0.5/js/jquery.lightbox-0.5.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}packages/jquery-lightbox-0.5/css/jquery.lightbox-0.5.css" media="screen" />
<script type="text/javascript">
$(function() {
        $('.gallery a').lightBox();
    });
</script>
{% endblock %}

{% block banner %}<div id="banner"><h2>{% trans 'Detalle para' %} {{ title }}</h2></div>{% endblock %}
{% block content %}
<h3>{{ subtitle }}</h3>

<h3>
<ul>
{% for attrib, value in extra_attribs.items %}
	<li>{{ attrib }}: {{ value }}</li>
{% endfor %}
</ul>
</h3>

{% with template as object %}
{% include "template_subtemplate.html" %}
{% endwith %}

{% with template_photos_title as title %}
{% with template_photos as photos %}
{% include 'generic_photos_subtemplate.html' %}
{% endwith %}
{% endwith %}

<br />

{% include 'item_subtemplate.html' %}

{% with item_photos_title as title %}
{% include 'generic_photos_subtemplate.html' %}
{% endwith %}

<br />
<div class='userbar'>
	<div style='font-size:100%;'>
		<ul>
			{% if not "item_create"|login_required or user.is_authenticated %}
			{% if item_create %}
			<li><a href="{% url item_create %}">{% trans 'Crear nuevo' %}<img src="{{ MEDIA_URL }}images/window-new.png" /></a></li>
			{% endif %}
			{% endif %}
			{% include "generic_navigation.html" %}
		</ul>
	</div>
</div>	
{% endblock %}
