{% load i18n %}
{% load project_tags %}
{% load inventory_tags %}
{% load navigation %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}" />

        <title>{% project_name %}{% block title %}{% endblock %}</title>

        {% block keywords %}{% endblock %}		

        <link rel="stylesheet" href="{{ MEDIA_URL }}skins/pilu-web-app/stylesheets/base.css" type="text/css" media="screen" />
        <link rel="stylesheet" id="current-theme" href="{{ MEDIA_URL }}skins/pilu-web-app/stylesheets/themes/warehouse/style.css" type="text/css" media="screen" />
        
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/override.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/famfamfam-silk-sprite.css" type="text/css" media="screen" />        
        
        {#<script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}skins/pilu-web-app/javascripts/jquery-1.3.min.js"></script>#}
        <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}skins/pilu-web-app/javascripts/jquery.scrollTo.js"></script>
        <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}skins/pilu-web-app/javascripts/jquery.localscroll.js"></script>
        
		{% comment %}<link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}images/" />{% endcomment %}
		<script type="text/javascript" src="{{ MEDIA_URL }}packages/jquery-1.4.2.min.js"></script>

		<script type="text/javascript">
            $(document).ready(function() {
                $("form").submit(function() {
                    $('input:submit', this).attr("value", "{% trans 'Please wait...' %}");
                    $('input:submit', this).attr("disabled", "disabled");
                    return true;
                });
            
                $().ajaxSend(function(r,s){
                    $("#loading").show();
                });

                $().ajaxStop(function(r,s){
                    $("#loading").fadeOut("fast");
                });
            });
		</script>
		{% block javascript %}{% endblock %}
	</head>
	<body>
    
        <div id="container">
            <div class="block" id="block-text">
                <div id="wrapper" class="wat-cf">
                                {% if messages %}
                                <ul id="flashmessages">
                                    {% for message in messages %}
                                        <li id="flashmessage"><a href="#" onclick="$(this).parent().fadeOut(); return false;">{% trans 'ok' %}</a>
                                            <img src='{{ MEDIA_URL }}images/internet-group-chat.png' alt='message'/>&nbsp;&quot;{{ message }}&quot;
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}

                    {% block plain_content %}{% endblock %}
                        <div id="footer">
                            <div class="block">
                                <p>Copyright &copy; 2007 Roberto Rosario.</p>
                            </div>
                        </div>
                    
                </div>                    
            </div>
        </div>
	</body>
</html>
