{% load i18n %}
{% load project_tags %}
{% load inventory_tags %}
{% load navigation %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}" />

        <title>{% project_name %}{% block title %}{% endblock %}</title>

        {% block keywords %}{% endblock %}		

        <link rel="stylesheet" href="{{ MEDIA_URL }}skins/pilu-web-app/stylesheets/base.css" type="text/css" media="screen" />
        <link rel="stylesheet" id="current-theme" href="{{ MEDIA_URL }}skins/pilu-web-app/stylesheets/themes/warehouse/style.css" type="text/css" media="screen" />
        <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}skins/pilu-web-app/javascripts/jquery-1.3.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}skins/pilu-web-app/javascripts/jquery.scrollTo.js"></script>
        <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}skins/pilu-web-app/javascripts/jquery.localscroll.js"></script>
        
		{% comment %}<link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}images/" />{% endcomment %}
		{#<script type="text/javascript" src="{{ MEDIA_URL }}packages/jquery-1.3.1.min.js"></script>#}

		<script type="text/javascript">
            $(document).ready(function() {
                $("form").submit(function() {
                    $('input:submit', this).attr("value", "{% trans 'Please wait...' %}");
                    $('input:submit', this).attr("disabled", "disabled");
                    return true;
                });
            
                $().ajaxSend(function(r,s){
                    $("#loading").show();
                });

                $().ajaxStop(function(r,s){
                    $("#loading").fadeOut("fast");
                });
            });
		</script>
		{% block javascript %}{% endblock %}
	</head>
	<body>
    
        <div id="container">
            <div id="header">
                <h1><a href="{% url home %}">{% project_name %}</a></h1>
                    <div id="user-navigation">
                        <ul class="wat-cf">
                            <li><strong>{% trans 'User' %}:</strong>
                                {% if user.is_anonymous %}
                                    {% trans 'Anonymous' %}
                                {% else %}
                                    {{ user }}
                                    <a href="{% url user_me_password_change %}">({% trans 'New password' %})</a>
                                {% endif %}
                            </li>
                            <li>
                                {% ifequal LANGUAGE_CODE 'es' %}
                                    <a href="{% url set_language %}?language=en"><img src='{{ MEDIA_URL }}images/flag-us.png' alt="US-flag" /> {% trans 'English' %}</a>
                                {% else %}
                                    <a href="{% url set_language %}?language=es"><img src='{{ MEDIA_URL }}images/flag-pr.png' alt="PR-flag" /> {% trans 'Spanish' %}</a>
                                {% endifequal %}                        
                            </li>
                            <li><a class="logout" href="{% if user.is_anonymous %}{% url user_login %}?next=/{% else %}{% url user_logout %}{% endif %}">{% if user.is_anonymous %}{% trans 'Login' %}{% else %}{% trans 'Logout' %}{% endif %}</a></li>
                        </ul>
                    </div>

                    {% main_navigation %}                    
                    <div id="main-navigation">
                        <ul class="wat-cf">
                            {% for link in navigation_main_links %}
                                <li class="{% if link.first %}first {% endif %}{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.text }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
            </div>
            <div class="block" id="block-text">
                <div id="wrapper" class="wat-cf">
                    <div id="main">
                        <div class="block" id="block-text">                    
                            <div class="secondary-navigation">
                                <ul class="wat-cf">
                                    {% for link in navigation_secondary_links %}
                                        <li class="{% if link.first %}first {% endif %}{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.text }}</a></li>
                                    {% endfor %}     
                                    {% block secondary_link %}{% endblock %}                       
                                </ul>
                            </div>                    
                            <div class="content">
                                {% if messages %}

                                     <div class="inner">

                                      <div class="flash">
                                    {% for message in messages %}

                                        <div class="message {% if message.tags %}{{ message.tags }}{% else %}notice{% endif %}">
                                          <p>{{ message }}<a href="#" onclick="$(this).parent().parent().fadeOut(); return false;">{% trans 'ok' %}</a></p>
                                          
                                        </div>
              
                                    {% endfor %}
                                    </div>
                                    </div>
                                {% endif %}
                                {% block content %}{% endblock %}
                            </div>
                        </div>  
                        <div id="footer">
                            <div class="block">
                                <p>Copyright &copy; 2007 Roberto Rosario.</p>
                            </div>
                        </div>
                    </div>                    
                </div>                    
            </div>
        </div>
        {#<div id="loading">#}
		{#{% trans 'Loading' %}...<img src="{{ MEDIA_URL }}images/loading.gif" alt="" />#}
		{#</div>#}
       
        {% comment %}
        <div style='float: right; width: 100%;'>
        {% block banner %}{% endblock %}		
        </div>
        {% endcomment %}
	</body>
</html>
