{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% comment %}
		<meta http-equiv="Content-Language" content="en" />
	{% endcomment %}
		{% block keywords %}{% endblock %}			

		{% comment %}<link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}images/" />{% endcomment %}
		<link href="{{ MEDIA_URL }}css/base.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="{{ MEDIA_URL }}css/print.css" rel="stylesheet" type="text/css" media="print" />
		
		<script type="text/javascript" src="{{ MEDIA_URL }}packages/jquery-1.3.1.min.js"></script>
		{#<script type="text/javascript" src="{{ MEDIA_URL }}packages/pngFix/jquery.pngFix.js"></script>#}

		<script type="text/javascript">
		sfHover = function() {
			var sfEls = document.getElementById("nav").getElementsByTagName("LI");
			for (var i=0; i<sfEls.length; i++) {
				sfEls[i].onmouseover=function() {
					this.className+=" sfhover";
				}
				sfEls[i].onmouseout=function() {
					this.className=this.className.replace(new RegExp(" sfhover\\b"), "");
				}
			}
		}

		$(document).ready(function() {
			$("form").submit(function() {
				$('input:submit', this).attr("value", "{% trans 'Please wait...' %}");
				$('input:submit', this).attr("disabled", "disabled");
				return true;
			});
		
			//suckerfish	
			if (window.attachEvent) window.attachEvent("onload", sfHover);

			$(document).pngFix();
			
			$().ajaxSend(function(r,s){
				$("#loading").show();
			});

			$().ajaxStop(function(r,s){
				$("#loading").fadeOut("fast");
			});
		});
		</script>
		{% block javascript %}{% endblock %}
		<title>{% trans 'Control de inventario' %}{% block title %}{% endblock %}</title>
	</head>
	<body>
        <div id="loading">
		{% trans 'Loading' %}...<img src="{{ MEDIA_URL }}images/loading.gif" alt="" />
		</div>
		<div id="container">
			<div id="header" style='float: none;'>
				<div id='info-box' style='float: right;'>
					<div id="userbox">
						<strong>{% trans 'Usuario:' %}</strong>
						{% if user.is_anonymous %}
							{% trans 'Anonymous' %}
							<input type="hidden" id="auth_user" value="" />
							<a href="{% url user_login %}?next={{ request.get_full_path }}">({% trans 'Login' %})</a>
						{% else %}
							{{ user }}
							<input type="hidden" id="auth_user" value="{{ user }}" />
							<a href="{% url user_logout %}">({% trans 'Logout' %})</a>
							<a href="{% url user_me_password_change %}">({% trans 'New password' %})</a>
						{% endif %}
						{% ifequal LANGUAGE_CODE 'es' %}
							<a href="{% url set_language %}?language=en"><img src='{{ MEDIA_URL }}images/flag-us.png' alt="US-flag" /> {% trans 'English' %}</a>
						{% else %}
							<a href="{% url set_language %}?language=es"><img src='{{ MEDIA_URL }}images/flag-pr.png' alt="PR-flag" /> {% trans 'Spanish' %}</a>
						{% endifequal %}
					</div>
					<div id='searchbox'>
                    {% comment %}
						<form action='{% url search %}' method='get'>
							<input id="keyword" type="text" name="keyword" maxlength="64" />
							<input type="submit" value="{% trans 'Buscar' %}" />
						</form>
                    {% endcomment %}
					</div>
				</div> <!-- end infobox -->

					<div id="nav-spacer">
					&nbsp;
					</div>
					
					<div id="nav">			
						<ul>
							<li style="width: 6em;"><a href="{% url home %}">{% trans "Home" %}<img src="{{ MEDIA_URL }}images/go-home.png" /></a></li>
							<li style="width: 7em;"><a href="{% url person_list %}">{% trans "Users" %}<img src="{{ MEDIA_URL }}images/system-users.png" /></a>
								<ul>
									<li><a href="{% url person_list %}">{% trans "View all" %}<img src="{{ MEDIA_URL }}images/video-display.png" /></a></li>
									{% if user.is_authenticated %}
									<li><a href="{% url person_create %}">{% trans "Create new" %}<img src="{{ MEDIA_URL }}images/contact-new.png" /></a></li>
									{% endif %}
								</ul>
							</li>
							<li style="width: 7em;"><a href="{% url item_list %}">{% trans "Items" %}<img src="{{ MEDIA_URL }}images/computer.png" /></a>
								<ul>
									<li><a href="{% url item_list %}">{% trans "View all" %}<img src="{{ MEDIA_URL }}images/video-display.png" /></a></li>
									{% if user.is_authenticated %}
									<li><a href="{% url item_create %}">{% trans "Create new" %}<img src="{{ MEDIA_URL }}images/window-new.png" /></a></li>
									{% endif %}
									<li><a href="{% url item_orphans_list %}">{% trans "Orphan" %}</a></li>
									<li><a href="{% url retireditem_list %}">{% trans "Retired" %}<img src="{{ MEDIA_URL }}images/user-trash.png" /></a></li>
									<li><a href="{% url inrepairsitem_list %}">{% trans "In repairs" %}<img src="{{ MEDIA_URL }}images/broken-computer.png" /></a></li>

									<li style="width: 7em;"><a class='parent' href="{#{% url group_list %}#}">{% trans "Grupos" %}<img src="{{ MEDIA_URL }}images/network-workgroup.png" /></a>
										<ul>
											<li><a href="{#{% url group_list %}#}">{% trans "View all" %}<img src="{{ MEDIA_URL }}images/video-display.png" /></a></li>
											{% if user.is_authenticated %}									
											<li><a href="{#{% url group_create %}#}">{% trans "Create new" %}<img src="{{ MEDIA_URL }}images/window-new.png" /></a></li>
											{% endif %}
										</ul>
									</li>

									<li style="width: 9em;"><a class='parent' href="{% url template_list %}">{% trans "Templates" %}<img src="{{ MEDIA_URL }}images/font-x-generic.png" /></a>
										<ul>
											<li><a href="{% url template_list %}">{% trans "View all" %}<img src="{{ MEDIA_URL }}images/video-display.png" /></a></li>
											{% if user.is_authenticated %}
											<li><a href="{% url template_create %}">{% trans "Create new" %}<img src="{{ MEDIA_URL }}images/window-new.png" /></a></li>
											{% endif %}
											<li><a href="{% url template_orphans_list %}">{% trans "Orphan" %}</a></li>
										</ul>
									</li>
									
								</ul>
							</li>
							<li><a href="#">{% trans "Inventory" %}<img src="{{ MEDIA_URL }}images/package-x-generic.png" /></a>
								<ul>
									<li style="width: 7em;"><a class='parent' href="{#{% url supply_list %}#}">{% trans "Supplies" %}<img src="{{ MEDIA_URL }}images/applications-office.png" /></a>
										<ul>
											<li><a href="{#{% url supply_list %}#}">{% trans "View all" %}<img src="{{ MEDIA_URL }}images/video-display.png" /></a></li>
											{% if user.is_authenticated %}
											<li><a href="{#{% url supply_create %}#}">{% trans "Create new" %}<img src="{{ MEDIA_URL }}images/window-new.png" /></a></li>
											{% endif %}
											<li><a href="{#{% url supply_orphans_list %}#}">{% trans "Orphan" %}</a></li>
										</ul>
									</li>

									<li style="width: 7em;"><a class='parent' href="{#{% url inventory_transaction_list %}#}">{% trans "Transactions" %}</a>
										<ul>
											<li><a href="{#{% url inventory_transaction_list %}#}">{% trans "View all" %}<img src="{{ MEDIA_URL }}images/video-display.png" /></a></li>
											{% if user.is_authenticated %}
											<li><a href="{#{% url inventory_transaction_create %}#}">{% trans "Create new" %}<img src="{{ MEDIA_URL }}images/window-new.png" /></a></li>
											{% endif %}
										</ul>
									</li>

								</ul>
							</li>
							<li style="width: 10em;"><a href="#">{% trans "Tools" %}<img src="{{ MEDIA_URL }}images/preferences-system.png" /></a>
								<ul>
									<li><a style="width: 17em;" href="{% url regional_list %}">{% trans "Regionals" %}</a></li>
									<li><a style="width: 17em;" href="{% url department_list %}">{% trans "Departments" %}<img src="{{ MEDIA_URL }}images/view-fullscreen.png" /></a></li>
									<li><a style="width: 17em;" href="{% url inventory_list %}">{% trans "Supplies inventory" %}<img src="{{ MEDIA_URL }}images/package-x-generic.png" /></a></li>
									{% if user.is_staff %}
									<li><a style="width: 17em;" href="{% url settings %}">{% trans "Settings" %}<img src="{{ MEDIA_URL }}images/emblem-system.png" /></a></li>
									{% endif %}
								</ul>
							</li>

{% comment %}				{% if user.is_staff %}
							<li style="width: 8em;"><a href="/admin">{% trans "Users" %}<img src="{{ MEDIA_URL }}images/preferences-desktop.png" /></a></li>
							{% endif %}
{% endcomment %}
							<li style="width: 3em;"><a href="{% url about %}">{% trans "About" %}<img src="{{ MEDIA_URL }}images/dialog-information.png" /></a></li>
						</ul>	
					</div>	<!-- Nav -->		
				</div> <!-- left box -->
			</div> <!-- Header -->
			<div style='float: right; width: 100%;'>
			{% block banner %}{% endblock %}		
			</div>
		</div>		<!-- container -->
		<div id="content-container">
			<div id="content">
				{% if messages %}
				<ul id="flashmessages">
					{% for message in messages %}
						<li id="flashmessage"><a href="#" onclick="$(this).parent().fadeOut(); return false;">{% trans 'ok' %}</a>
							<img src='{{ MEDIA_URL }}images/internet-group-chat.png' alt='message'/>&nbsp;&quot;{{ message }}&quot;
						</li>
					{% endfor %}
				</ul>
				{% endif %}
				{% block content %}{% endblock %}

			</div>
			<div id="footer">
				<hr />
				{% block footer %}{% endblock %}
			</div> <!-- END #footer -->
		</div>	<!-- END #container -->
	</body>
</html>
