{% load i18n %}
{% load project_tags %}
{% load assets_tags %}
{% load navigation %}
{% load generic_views_tags %}
{% load generic_views_helpers %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}" />

        <title>{% project_name %}{% block title %}{% endblock %}</title>

        {% block keywords %}{% endblock %}		

        <link rel="stylesheet" href="{{ MEDIA_URL }}skins/pilu-web-app/stylesheets/base.css" type="text/css" media="screen" />
        <link rel="stylesheet" id="current-theme" href="{{ MEDIA_URL }}skins/pilu-web-app/stylesheets/themes/warehouse/style.css" type="text/css" media="screen" />

        <link rel="stylesheet" href="{{ MEDIA_URL }}css/override.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/famfamfam-silk-sprite.css" type="text/css" media="screen" />

        {#<script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}skins/pilu-web-app/javascripts/jquery-1.3.min.js"></script>#}
        <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}skins/pilu-web-app/javascripts/jquery.scrollTo.js"></script>
        <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}skins/pilu-web-app/javascripts/jquery.localscroll.js"></script>
        {% block stylesheets %}{% endblock %}
        
		{% comment %}<link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}images/" />{% endcomment %}
		<script type="text/javascript" src="{{ MEDIA_URL }}packages/jquery-1.4.2.min.js"></script>

		<script type="text/javascript">
            $(document).ready(function() {
                $("form").submit(function() {
                    $('input:submit', this).attr("value", "{% trans 'Please wait...' %}");
                    $('input:submit', this).attr("disabled", "disabled");
                    return true;
                });
            
                $().ajaxSend(function(r,s){
                    $("#loading").show();
                });

                $().ajaxStop(function(r,s){
                    $("#loading").fadeOut("fast");
                });
            });
		</script>
		{% block javascript %}{% endblock %}
	</head>
	<body>
    
        <div id="container">
            {% if user.is_anonymous %}
                <div id="box">
                    {% block content_plain %}{% endblock %}
                </div>
            {% endif %}
        
            {% if not user.is_anonymous %}
                <div id="header">
                    <h1><a href="{% url home %}">{% project_name %}</a></h1>
                        <div id="user-navigation">
                            <ul class="wat-cf">
                                <li><strong>{% trans 'User' %}:</strong>
                                    {% if user.is_anonymous %}
                                        {% trans 'Anonymous' %}
                                    {% else %}
                                        {{ user }}
                                        <a href="{% url user_me_password_change %}">({% trans 'New password' %})</a>
                                    {% endif %}
                                </li>
                                <li>
                                    <form action="/i18n/setlang/" method="post">{% csrf_token %}
                                        <select name="language">
                                            {% for lang in LANGUAGES %}
                                                <option value="{{ lang.0 }}">{{ lang.1 }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="submit" value="{% trans 'Go' %}" />
                                    </form>                                
                                </li>
                                <li><a class="logout" href="{% if user.is_anonymous %}{% url user_login %}?next=/{% else %}{% url user_logout %}{% endif %}">{% if user.is_anonymous %}{% trans 'Login' %}{% else %}{% trans 'Logout' %}{% endif %}</a></li>
                            </ul>
                        </div>

                        {% main_navigation %}                    
                        <div id="main-navigation">
                            <ul class="wat-cf">
                                {% for link in navigation_main_links %}
                                    <li class="{% if link.first %}first {% endif %}{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.text|capfirst }}{% if link.famfam %}<span class="famfam active famfam-{{ link.famfam|default:'link' }}"></span>{% endif %}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                </div>
                <div class="block" id="block-text">
                    <div id="wrapper" class="wat-cf">
                        <div id="main">
                            <div class="block" id="block-text">                    
                                <div class="secondary-navigation">
                                    <ul class="wat-cf">
                                        {% for link in navigation_secondary_links %}
                                            <li class="{% if link.first %}first {% endif %}{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.text|capfirst }}{% if link.famfam %}<span class="famfam active famfam-{{ link.famfam|default:'link' }}"></span>{% endif %}</a></li>
                                        {% endfor %}     
                                        {% block secondary_links %}{% endblock %}                       
                                    </ul>
                                </div>                    
                                <div class="content">
                                    {% if messages %}
                                         <div class="inner">
                                          <div class="flash">
                                        {% for message in messages %}
                                            <div class="message{% if message.tags %}{% if 'success' in message.tags %} notice{% endif %} {{ message.tags }}{% else %} notice{% endif %}">
                                              <p onclick="$(this).parent().parent().fadeOut(); return false;">{{ message }}</p>
                                            </div>
                                        {% endfor %}
                                        </div>
                                        </div>
                                    {% endif %}
                                    {% block content %}{% endblock %}
                                </div>
                            </div>  
                            <div id="footer">
                                <div class="block">
                                    <p>Copyright &copy; 2007 Roberto Rosario.</p>
                                </div>
                            </div>
                        </div> 
                        <div id="sidebar">
                            {% get_object_navigation_links "sidebar" %}

                            {% if object_navigation_links %}
                                <h3>{% trans 'Available actions' %}</h3>
                                <ul class="navigation">
                                    {% with 'true' as as_li %}
                                        {% include 'generic_navigation.html' %}
                                    {% endwith %}
                                </ul>
                            {% endif %}
                        
                        
                            {% get_object_navigation_links %}
                            {% if object_navigation_links %}
                                {% if object %}
                                    <h3>{% blocktrans %}Actions for: {{ object }}{% endblocktrans %}</h3>
                                {% else %}
                                    <h3>}{% trans 'Actions' %}</h3>
                                {% endif %}
                                <ul class="navigation">
                                    {% with 'true' as as_li %}
                                        {% include 'generic_navigation.html' %}
                                    {% endwith %}
                                </ul>
                            {% endif %}


                            {% if filter_form %}
                                {% with 'true' as side_bar %}
                                    {% filter_form %}
                                {% endwith %}
                            {% endif %}
                            
                            <div class="block">{% block sidebar %}{% endblock %}</div>
                        </div>                    
                </div>
            {% endif %}
        </div>
	</body>
</html>
