{% extends "base.html" %}
{% load i18n %}
{% block keywords %}
{% endblock %}
{% block title %} :: {% trans 'Acerca de este programa' %}{% endblock %}
{% block banner %}<div id="banner"><h2>{% trans 'Acerca de este programa' %}</h2></div>{% endblock %}
{% block content %}
<h3>
<center>
Django Inventory<br /><br />
{% trans 'Un sistema de control de inventario y activos fijos basado en Django' %}<br /><br />
<a href="http://code.google.com/p/django-inventory/">http://code.google.com/p/django-inventory/</a><br /><br />
{% trans 'Relizado por: Roberto Rosario González' %}<br /><br />
</center>
</h3>
{% endblock %}
