body { margin:0; padding:0; background:#3030a4; color:white; }
body, th, td { font:12px/1.4em Verdana,sans-serif; }
#container {  min-width:55em; }

a { text-decoration: none; }
a img { border: none; }
a:link, a:visited { color:#ffc757; }
a:hover { color:#ffe761; }

#flash_messages { margin: 8px; padding: 5px; float: none; text-align: center; font-size: 120%; font-weight: bold; }
#flash_messages img { vertical-align: middle; }

#preview {
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
	}

#banner { background: #9090ff; text-align: center; }
#banner h2 { margin: 0; color: #0000a0; font-weight: bold; font-size: 180%; }

#content-container { width: 100%; margin: auto; float: right;}
#content { width: 100%; margin: auto;  }

#logo { position: absolute; top:0; left:0; margin:0; padding:0; }

#header { }

#userbox { margin: 5px; text-align: right; }

#searchbox { margin-top: 5px; margin-right: 5px; padding: 0; text-align: right; }
#searchbox form { margin: 0px; padding: 0; }

.results table { margin: auto; }
.results table th {	font-weight: bold; }
.results table td { padding: 3px; text-align: left; }
.results table td.title img { vertical-align: middle; }
.results table .title { font-weight: bold; }
.results table td.photo { text-align: center; }
.results table td img { vertical-align: middle; }
.results-odd { background:#5050a0; }
.results-odd:hover { background:#7070c0; }
.results-even { background:#202040; }
.results-even:hover { background:#404070; }
.results-odd a,
.results-even a { color: white; }

#js_noscript { padding: 10px; margin: 10px; border: 1px solid white; font-weight: bold; text-align: center; font-size: 150%; }

.data-entry { margin: 15px; }
.data-entry table { text-align: center;	margin-left: auto;	margin-right: auto;	border: 1px solid white; }
.data-entry thead {}	
.data-entry thead td {	background:#7070c0;	font-size: 15px;	font-weight:bold;	text-align:center;	padding: 5px;	border-top: 1px solid white;	border-left: 1px solid white;	border-right: 1px solid white;	border-bottom: 1px solid olive;	}
.data-entry th { text-align: right;	padding: 5px;	font-weight:bold;	background:#0000a0;	}
.data-entry td { text-align: left;	padding: 3px;  font-size: 100%; }
.data-entry td input:focus { background: yellow; }
.data-entry td textarea:focus { background: yellow; }
.data-entry tr { margin: 5px; }
.data-entry tfoot { background:#7070c0;	font-size: 15px; font-weight:bold; }
.data-entry tfoot td { text-align: right; padding: 3px;	border-top: 1px solid olive; border-left: 1px solid olive; border-right: 1px solid olive; border-bottom: 1px solid olive; }

.error-message { font-size: 150%; font-weight: bold; text-align: center; }

.errorlist li { font-size:12px !important; display:block; padding:4px 5px 4px 25px; margin:0 0 3px 0; border:1px solid red; color:white; background:red url(/site_media/images/icon_alert.gif) 5px .3em no-repeat; }
ul.errorlist { margin:0 !important; padding:0 !important; }
td ul.errorlist { margin:0 !important; padding:0 !important; }
td ul.errorlist li { margin:0 !important; }

.gallery { text-align: center; padding: 0px; width: 100%; margin: 4px; }
.gallery img { border: 5px solid #101050; border-width: 5px 5px 20px; margin-bottom: 0px; padding-bottom: 0px; }
.gallery #caption { margin-top: -20px; margin-bottom: 9px; color: white; }
.gallery a:hover #caption { text-align: center; margin-top: -20px; color: black; }
.gallery a:hover img { border: 5px solid #fff; border-width: 5px 5px 20px; color: #fff; }
	
h1,h2,h3 { margin-top:.8em; font-family:"Trebuchet MS",sans-serif; font-weight:normal; }
h1 { font-size:218%; margin-top:.6em; margin-bottom:.6em; line-height:1.1em; }
h2 { font-size:150%; margin-top:1em; margin-bottom:.2em; line-height:1.2em; color:#092e20; }
h3 { font-size:170%; font-weight:bold; margin-bottom: 1em; text-align: center; line-height:1.2em; }

#loading {
	padding: 3px 5px; margin-left: 1px; border: 1px solid #778; background: #234f32;
	position:fixed; bottom:0; right:0; z-index:90; float:left;
	font-weight: bold; display: none; 
	/* filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;opacity: 0.7; */
}

#loading img { vertical-align: middle; }  

.loading_circle { background: url(/site_media/images/loading-big.gif)  center center no-repeat; border: 1px solid blue; z-index: 99; }
.loading_bar { background: url(/site_media/images/loading-bar.gif)  center center no-repeat; border: 1px solid blue; z-index: 99; }

body > div#loading {
  /* used by Opera 5+, Netscape6+/Mozilla, Konqueror, Safari, OmniWeb 4.5+, iCab, ICEbrowser */
  position: fixed;
}

#footer { clear:both; color:#487858; padding:0px 0px; }
#footer ul { }
#footer ul li { list-style: none; text-decoration: none; display: inline; margin: 15px; }
#footer ul li img { vertical-align: middle; }

.text { text-align: left; font-weight: bold; font-size: 120%; }

ul#flashmessages { margin: 0 0 10px 0; padding: 0; list-style: none; font-weight: bold; font-size: 120%; text-align: center; }
ul#flashmessages li { padding: 5px 10px; background: #EFD; margin: 3px; border: 1px solid #BC9; color: #000; list-style: none; }
ul#flashmessages li a { float: right; color: #693; font-size: 75%; font-weight: normal; }
ul#flashmessages img { vertical-align:middle; }

.userbar { text-align: center; }
.userbar ul { padding: 0; margin: 4px; font: bold 12px Verdana, sans-serif; }
.userbar li { list-style: none; margin: 0; display: inline; padding: 0; }
.userbar ul li a { padding: 3px 3px; border: 1px solid #778; background: #0000a2; text-decoration: none; }
.userbar ul li a:link,
.userbar ul li a:visited { color: white; }
.userbar ul li a:hover,
.userbar ul li a:visited:hover { color: white; background: #7070c0; border-color: #227; }
.userbar ul li a#current { background: #94da3a; border-bottom: 1px solid #94da3a; }

#nav-spacer { width: 70px; height: 53px; }

#nav { margin-left: 5px; }
#nav ul { font: bold 12px Verdana, sans-serif; padding: 0; margin: 0px; line-height: 1;  }
#nav a { display: block; width: 10em; color: white; border: 1px solid #778; border-bottom: none; background: #0000a2; padding: 3px 3px; text-decoration: none; height: 15px; }
#nav img { position: relative; top: -10px; vertical-align: top; }
#nav a:hover,
#nav a:visited:hover { color: white; background: #7070c0; border-color: #227; }
#nav ul li ul a,
#nav ul li ul a:visited { border: 1px solid #778; margin-bottom: -1px; width: 10em; }
#nav ul li ul a img { top: -3px; }
#nav li { float: left; width: 10em; list-style: none; margin: 0; display: inline; padding: 0px; }
#nav li ul { position: absolute; width: 10em; left: -999em; }
#nav li:hover ul, #nav li.sfhover ul { left: auto; }
#nav li ul ul {	margin: -2em 0 0 10em; }
#nav li:hover ul ul, #nav li.sfhover ul ul { left: -999em; }
#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul { left: auto; }

#nav a.parent {
	background: #0000a2 url(/site_media/images/rightarrow2.gif) center right no-repeat;
}

.pagination { text-align: center; color: white; font-weight: bold; }
