{% load i18n %}
{% load assets_tags %}
{% get_all_states as states %}
    <div id="box">
        <div class="block"  id="block-item-states">
        <h2>{% trans 'Item states' %}</h2>
        <div class="content tc">
        <h3></h3>
        <table class="table">
        <tbody>
          <tr>
            <th class="first">{% trans 'Identifier' %}</th>
            {% if record_links %}
                <th class="last">&nbsp;</th>
            {% else %}
                <th class="last">&nbsp;</th>
            {% endif %}
          </tr>
          
            {% for state in states %}
                <tr class="{% cycle 'odd' 'even2' %}">
                    <td>{{ state.name }}</td>
                    <td>
                        {% if state in object.states %}
                            <a href="{% url item_remove_state object.id state.id %}">{% trans 'Unmark' %}</a>
                        {% else %}
                            <a href="{% url item_setstate object.id state.id %}">{% trans 'Mark' %}</a>
                        {% endif %}
                    
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan=2 class="tc">{% blocktrans %}There are no states defined.{% endblocktrans %}</td></tr>                
            {% endfor %}      
            
            </tbody>
        </table>
       </div>
    </div>
   </div>
