{% load i18n %}
{% load assets_tags %}
{% get_all_states as states %}
<div class="block">
  <h3>{% trans 'Item states' %}</h3>
   <div class="content">
    <form action="" method="get" class="form">
        <table class="table">
        <tbody>
            {% for state in states %}
                <tr class="{% cycle 'odd' 'even2' %}">
                    <td>{{ state.name }}</td>
                    <td>
                        {% if state in object.states %}
                            <a href="{% url item_remove_state object.id state.id %}">{% trans 'Unmark' %}</a>
                        {% else %}
                            <a href="{% url item_setstate object.id state.id %}">{% trans 'Mark' %}</a>
                        {% endif %}
                    
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan=2 class="tc">{% blocktrans %}There are no states defined.{% endblocktrans %}</td></tr>                
            {% endfor %}      
            
            </tbody>
        </table>
    
    
    {% comment %}
        {% with filter_form as form %}
            {% include "generic_form_instance.html" %}
        {% endwith %}

        <div class="group navform wat-cf">
            <button class="button" type="submit">
                <img src="{{ MEDIA_URL }}skins/pilu-web-app/images/icons/tick.png" alt="{% trans 'Submit' %}" /> {% trans 'Submit' %}
            </button>
        </div>
    {% endcomment %}        
    </form>
    </div>
</div>
